<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= link_to 'Back to users', users_path, class: "rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
    <%= render @user %>
    <%# link_to 'View Chapters', story_chapters_path(@story), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
    <% if user_signed_in? && @user == current_user %>
      <%= link_to 'Edit favorite quote or about', edit_user_path(@user), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
    <% end %>
    
    <div class="mt-10 my-3">
      <h3 class="block text-2xl mb-1"><%= @user.username %>'s Stories</h3>
      <ul>
      <% @user.stories.each do |story| %>
          <% if story.status == 'published' || story.user == current_user %>
            <li class="my-2">
              <%= link_to story_path(story), class: "text-amber-500 hover:text-amber-700" do %>
              <strong>
            <%= story.title %>
            </strong>
            <% end %>
        <% end %>
        </li>
      <% end %>
      </ul>
    </div>
    <%= link_to 'Back to users', users_path, class: "rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
  </div>
</div>
