<div id="<%= dom_id story %>">
  <div class="my-2">
    <h3 class="text-2xl">
      <strong class="block font-medium mb-1">Title:</strong>   
    </h3>
    <h1 class="text-4xl">
    <%= story.title %>
    </h1>
  </div>

  <p class="my-2">
    <strong class="font-medium mb-1">Description:</strong>
    <%= story.description %>
  </p>

  <p class="my-2">
    <strong class="font-medium mb-1">Author:</strong>
    <%= story.user.username %>
  </p>
  <p class="my-2"><em>Created on: <%= story.created_at.strftime("%c") %></em></p>
  <p class="my-2">
    <em>
    Status: 
      <% if story.status =='published'%>
      Published
      <% elsif story.status == 'archive' %>
      Archived
      <% else %>
      Draft
      <% end %>
      </em>
    </p>
    
  <p class="my-5">
    <strong class="block font-medium mb-1">Tags:</strong>
    <% story.tags.each do |tag| %>
      <%= link_to tag, class: "m-1 p-1 text-amber-900 hover:text-amber-600" do %>
      <span class="tag"><%= tag.name %></span>
      <% end %>
    <% end %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Number of Chapters:</strong>
    <%= story.chapters.count %>
  </p>

  <p class="my-3">&#11088 <%= story.stars.count %> <%= (story.stars.count) == 1 ? 'Star' : 'Stars'%></p>

  <% if action_name != "show" %>
    <%= link_to "Show this story", story, class: "rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
    <% if story.user == current_user %>
    <%= link_to 'Edit this story', edit_story_path(story), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
    <% end %>
    <hr class="mt-6">
  <% end %>
</div>
