<div id="<%= dom_id story %>">
  <h3 class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= story.title %>
  </h3>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= story.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Author:</strong>
    <%= story.user.username %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this story", story, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this story', edit_story_path(story), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
