<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @story %>
    <%= link_to 'New chapter', new_story_chapter_path(@story), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <ul>
    <% @story.chapters.each do |chapter| %>
    <li>
      <%= link_to story_chapters_path(chapter), class: "hover:text-amber-700" do %>
    Chapter <%= chapter.chapter_number %> - <%= chapter.title %>
      <% end %>
      </li>
    <% end %>
    </ul>

    <%# link_to 'View Chapters', story_chapters_path(@story), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
    <% if user_signed_in? && @story.user == current_user %>
      <%= link_to 'Edit this story', edit_story_path(@story), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
      <div class="inline-block ml-2">
        <%= button_to 'Destroy this story', @story, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class: "mt-2 rounded-lg py-3 px-5 bg-red-400 hover:bg-red-600 text-white font-medium" %>
      </div>
    <% end %>
    <%= link_to 'Back to stories', stories_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
  </div>
</div>