<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @story %>
    <div class="my-2">
    <% if user_signed_in? %>
        <% pre_star = @story.stars.find { |star| star.user_id == current_user.id} %>
      <% if pre_star %>
        <%= button_to 'Remove Star', story_star_path(@story.id, pre_star), method: :delete, class: "text-amber-900 hover:text-amber-600"  %>
      <% else %>
        <%= button_to 'Star this story', story_stars_path(@story), method: :post, class: "text-amber-900 hover:text-amber-600"  %>
      <% end %>
    <% end %>
    </div>
    <div class="my-2">
    <% if user_signed_in? %>
        <% pre_bookmark = @story.bookmarks.find { |bookmark| bookmark.user_id == current_user.id} %>
      <% if pre_bookmark %>
        Bookmarked!
        <%= button_to 'Remove Bookmark', story_bookmark_path(@story.id, pre_bookmark), method: :delete, class: "text-amber-900 hover:text-amber-600"  %>
      <% else %>
        <%= button_to 'Bookmark this story', story_bookmarks_path(@story), method: :post, class: "text-amber-900 hover:text-amber-600"  %>
      <% end %>
    <% end %>
    </div>
    <%# link_to 'View Chapters', story_chapters_path(@story), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
    <% if user_signed_in? && @story.user == current_user %>
    <%= link_to 'New chapter', new_story_chapter_path(@story), class: "rounded-lg py-3 px-5 bg-blue-600 hover:bg-blue-800 text-white inline-block font-medium" %>
      <%= link_to 'Edit this story', edit_story_path(@story), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
        <div class="my-2">
        <%= button_to 'Destroy this story', @story, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "mt-2 rounded-lg py-3 px-5 bg-red-400 hover:bg-red-600 text-white font-medium" %>
        </div>
    <% end %>
    <div class="my-3">
    <%= link_to "All Story Chapters", story_chapters_path(@story), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 font-medium" %>
    </div>
    <%# link_to 'All Stories', stories_path, class: "rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 font-medium" %>
 
    <div class="mt-3 my-3">
    <h3 class="block text-2xl mb-1">Chapters</h3>
    <ul>
    <% @story.chapters.order("chapter_number DESC").each do |chapter| %>
      <% if chapter.status == 'published'%>
        <li>
          <%= link_to story_chapter_path(@story, chapter), class: "my-2 text-amber-900 hover:text-amber-700" do %>
        Chapter <%= chapter.chapter_number %> - <%= chapter.title %>
          <% end %>
        </li>
      <% end %>
    <% end %>
    </ul>
  </div>
  </div>
</div>
