<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @story %>
    <div class="my-5">
    <% if user_signed_in? %>
        <% pre_star = @story.stars.find { |star| star.user_id == current_user.id} %>
      <% if pre_star %>
        <%= button_to 'Remove Star', story_star_path(@story, pre_star), method: :delete %>
      <% else %>
        <%= button_to 'Star this story', story_stars_path(@story), method: :post %>
      <% end %>
    <% end %>
    </div>
    <%# link_to 'View Chapters', story_chapters_path(@story), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
    <% if user_signed_in? && @story.user == current_user %>
    <%= link_to 'New chapter', new_story_chapter_path(@story), class: "rounded-lg py-3 px-5 bg-blue-600 hover:bg-blue-800 text-white inline-block font-medium" %>
      <%= link_to 'Edit this story', edit_story_path(@story), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
      <div class="inline-block ml-2">
        <%= button_to 'Destroy this story', @story, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "mt-2 rounded-lg py-3 px-5 bg-red-400 hover:bg-red-600 text-white font-medium" %>
      </div>
    <% end %>
    <%= link_to "View All Story Chapters", story_chapters_path(@story), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
    <%= link_to 'View all Stories', stories_path, class: "rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 font-medium" %>

    <div class="mt-10 my-3">
    <h3 class="block text-2xl mb-1">Chapters</h3>
    <ul>
    <% @story.chapters.order("chapter_number DESC").each do |chapter| %>
    <li>
      <%= link_to story_chapter_path(@story, chapter), class: "hover:text-amber-700" do %>
    Chapter <%= chapter.chapter_number %> - <%= chapter.title %>
      <% end %>
      </li>
    <% end %>
    </ul>
  </div>
  </div>
</div>
