<div id="<%= dom_id chapter %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Story:</strong>
    <%= chapter.story.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Chapter Title:</strong>
    <%= chapter.title %>
  </p>
   <p class="my-5">
    <strong class="block font-medium mb-1">Chapter Number</strong>
    <%= chapter.chapter_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Chapter Description:</strong>
    <%= chapter.description %>
  </p>
  <p class="my-2"><em>Created on: <%= chapter.created_at.strftime("%c") %></em></p>
  <p class="my-2">
    <em>
    Status: 
      <% if chapter.status =='published'%>
      Published
      <% elsif chapter.status == 'archive' %>
      Archived
      <% else %>
      Draft
      <% end %>
      </em>
    </p>

  <div class="my-5">
    <strong class="block font-medium mb-1">Chapter:</strong>
    <%= sanitize chapter.content %>
  </div>

  <% if action_name != "show" %>
    <%= link_to "Show this chapter", story_chapter_path(@story, chapter), class: "rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
    <%= link_to 'Edit this chapter', edit_story_chapter_path(@story, chapter), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
