<div id="<%= dom_id chapter %>">
  <div class="my-5">
    <strong class="block font-medium mb-1">Story:</strong>
    <%=link_to story_path(chapter.story) do %>
    <h2 class="text-amber-900 hover:text-amber-600">
    <%= chapter.story.title%>
    </h2>
    <% end %>
  </div>
  <div class="my-5">
    <% if action_name == "show" %>
     <strong class="font-medium">Chapter Title:</strong>
      <h2>
      <%= chapter.title %>
      </h2>
    <% else %>
      <%=link_to story_chapter_path(chapter) do %>
      <strong class="font-medium">Chapter Title:</strong>
      <h2 class="text-amber-900 hover:text-amber-600">
      <%= chapter.title %>
      </h2>
      <% end %>
    <% end %>
  </div>
   <p class="my-5">
    <strong class="font-medium">Chapter Number</strong>
    <%= chapter.chapter_number %>
  </p>

  <p class="my-5">
    <strong class="font-medium">Chapter Description:</strong>
    <%= chapter.description %>
  </p>
  <p class="my-2"><em>Created on: <%= chapter.created_at.strftime("%e %b %Y") %> | 
    Status: 
      <% if chapter.status =='published'%>
      Published
      <% elsif chapter.status == 'archived' %>
      Archived
      <% else %>
      Draft
      <% end %>
      </em>
    </p>

  <div class="my-5">
    <strong class="block font-medium mb-4">Chapter:</strong>
    <%= sanitize chapter.content %>
  </div>

  <% if action_name != "show" %>
    <%= link_to "Show this chapter", story_chapter_path(@story, chapter), class: "rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
    <%= link_to 'Edit this chapter', edit_story_chapter_path(@story, chapter), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
