<div class="w-full">
  <div class="flex justify-between items-center"> 
   <h1 class="font-bold text-4xl">Latest Chapters</h1>
  </div>

  <div id="chapters" class="min-w-full">
    <% @chapters.each do |chapter| %>
      <%= link_to story_chapter_path(chapter.story, chapter) do %>
      <h3 class="text-xl font-bold my-5 text-amber-900 hover:text-amber-600">
      <%= chapter.title %> --- <%= chapter.story.title %>
      </h3>
      <%end %>
      <p class="my-5">Chapter number: 
      <%= chapter.chapter_number %>
      </p>
      <p class="my-5">
      <%= chapter.description %>
      </p>
      <p class="my-2"><em>Created on: <%= chapter.created_at.strftime("%e %b %Y") %> | 
    Status: Published   
      </em>
    </p>
      <hr class="mt-6">
<% end %>
  </div>
</div>