<div class="w-full">
  <div class="flex justify-between items-center"> 
   <h1 class="font-bold text-4xl"><%= @story.title %> - All Chapters</h1>
   <% if user_signed_in? && @story.user == current_user %>
    <%= link_to 'New chapter', new_story_chapter_path, class: "rounded-lg py-3 px-5 bg-blue-600 hover:bg-blue-800 text-white block font-medium" %>
    <% end %>
    <%= link_to 'View All Stories', stories_path, class: "rounded-lg py-3 px-5 bg-blue-600 hover:bg-blue-800 text-white block font-medium" %>
    <%= link_to 'Back to story', story_path(@story), class: "rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
  </div>

  <div id="chapters" class="min-w-full">
    <% @story.chapters.each do |chapter| %>
    <h3 class="my-5">
    <%= chapter.title %>
    </h3>
    <p class="my-5">Chapter number: 
    <%= chapter.chapter_number %>
    </p>
    <p class="my-5">
    <%= chapter.description %>
    </p>
    <% if action_name != "show" %>
    <%= link_to "Show this chapter", story_chapter_path(@story, chapter), class: "rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
    <% if user_signed_in? && chapter.user == current_user%>
      <%= link_to 'Edit this chapter', edit_story_chapter_path(@story, chapter), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
    <% end %>
    <hr class="mt-6">
    <% end %>
  <% end %>
  </div>
</div>
