<nav class="flex items-center justify-between flex-wrap bg-amber-100 p-6">
  <div class="flex items-center flex-shrink-0 text-amber-900 mr-6">
    <%= image_tag "serial publisher.svg", class: "mr-4"%>
    <%= link_to stories_path do %>
    <span class="font-semibold text-xl tracking-tight">Serial Publisher</span>
    <% end %>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <%= link_to "All Stories", stories_path, class: "block mt-4 lg:inline-block lg:mt-0 text-amber-900 hover:text-amber-600 mr-4" %>
      <%= link_to "Latest Chapters", chapters_all_chapters_path, class: "block mt-4 lg:inline-block lg:mt-0 text-amber-900 hover:text-amber-600 mr-4" %>
      <%= link_to "Authors", users_path, class: "block mt-4 lg:inline-block lg:mt-0 text-amber-900 hover:text-amber-600 mr-4" %>
      <%= link_to "Tags", tags_path, class: "block mt-4 lg:inline-block lg:mt-0 text-amber-900 hover:text-amber-600 mr-4" %>
      <% if user_signed_in? %>     
        <%= link_to user_path(current_user) do %>
        <strong class="block mt-4 lg:inline-block lg:mt-0 font-semibold hover:text-amber-600 text-amber-900 mr-4"><%= current_user.username %></strong>
        <% end %>
        <%= link_to "New Story", new_story_path, class: "block mt-4 lg:inline-block lg:mt-0 text-amber-900 hover:text-amber-600 mr-4" %>
        <%= link_to "My Stories", stories_path(:filter => 'my_stories'), class: "block mt-4 lg:inline-block lg:mt-0 text-amber-900 hover:text-amber-600 mr-4" %>
        <%= link_to "Bookmarked", stories_path(:filter => 'bookmarked'), class: "block mt-4 lg:inline-block lg:mt-0 text-amber-900 hover:text-amber-600 mr-4" %>
        <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure you'd like to sign out?" }, class: "inline-block text-sm px-4 py-2 leading-none border rounded border-amber-900 hover:border-transparent hover:bg-white mt-4 lg:mt-0 text-amber-900 hover:text-amber-950" %>
    <% else %>
            <%= link_to "Log In", new_user_session_path, class: "inline-block text-sm px-4 py-2 leading-none border rounded border-amber-900 hover:border-transparent hover:bg-white mt-4 lg:mt-0 text-amber-900 hover:text-amber-950" %> 
            <%= link_to "Sign Up", new_user_registration_path, class: "inline-block text-sm px-4 py-2 leading-none border rounded border-amber-900 hover:border-transparent hover:bg-white mt-4 lg:mt-0 text-amber-900 hover:text-amber-950" %>
   
    <% end %>
        </div>
  </div>
</nav>