<!DOCTYPE html>
<html>
  <head>
    <title>Serial Publisher</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path('serial publisher.png') %>
    <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>
  </head>

  <body class="bg-[#FCF5E5]"> 
    <%= render 'layouts/navbar'%>
    
      <% if notice %>
      <div class="container mx-auto py-5 flex">
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block"><%= notice %></p>
        </div>
      <% end %>
      <% if alert %>
      <div class="container mx-auto py-5 flex">
        <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block"><%= alert %></p>
        </div>
      <% end %>
    
    <main class="container mx-auto lg:mt-20 mt-10 px-5 flex">
      <%= yield %>
    </main>
      <script>
          // This is for using the tailwind-hamburgers plugin
          if (typeof tham === 'undefined') {
              const tham = document.querySelector(".tham");
              const navbar = document.getElementById("navbar");
            //  const navbar2 = document.getElementById("navbar2");

              tham.addEventListener('click', () => {
                  tham.classList.toggle('tham-active');
                  navbar.classList.toggle('hidden');
                //  navbar2.classList.toggle('hidden');

              });
          }
      </script>
  </body>
</html>
